<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916067918944-imvpol8t4jckb0bl0d833mccshes45l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916067918944-imvpol8t4jckb0bl0d833mccshes45l5</string>
	<key>API_KEY</key>
	<string>AIzaSyATwc5rJ3crS6q_c4TwcHfbX9IFeeNVWAg</string>
	<key>GCM_SENDER_ID</key>
	<string>916067918944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riku.comaty</string>
	<key>PROJECT_ID</key>
	<string>comaty-9939e</string>
	<key>STORAGE_BUCKET</key>
	<string>comaty-9939e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916067918944:ios:d506ff07c4c06f8dbecf05</string>
</dict>
</plist>